 <nav class="flex justify-between items-center px-6 py-4 bg-white shadow">
    <div class="flex items-center space-x-2">
      <img src="{{ url_for('static', filename='images/logo.jpg') }}" 
           alt="EcoFinds Logo" 
           class="h-14 w-13 object-cover rounded-full">
      <span class="text-xl font-bold text-green-700">EcoFinds</span>
    </div>
    <div class="flex items-center gap-4">
      <a href="/" class="hover:text-green-600  px-2">Products</a>

      {% if current_user %}
        <a href="/purchases" class="hover:text-green-600 px-2">Purchases</a>
        <a href="/profile" class="hover:text-green-600 px-2">Profile</a>
        <a href="/logout" class="hover:text-green-600 px-2">Logout</a>
        <a href="/cart" class="hover:text-green-600 px-2">Cart</a>

       
      </button>
      {% else %}
      <a href="/login" class="hover:text-green-600 px-2">Login</a>
      <a href="/register" class="hover:text-green-600 px-2">Register</a>
      {% endif %}
    </div>
  </nav>